html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    background-color: lemonchiffon;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    height:525px;
    width:500px;
    border : 5px solid black;
    padding: 5px;
    background-color: gray;
}
#display{
    display: flex;
    justify-content: end;
    background-color: black;
    color: white;
    height: 100px;
    width: 100%;
    margin-bottom: 20px;
    font-family: 'Orbitron';
    font-size: 5em;
    text-align: end;
}
.operators{
    display: flex;
    justify-content:center;
    align-items: center;
}
.operators .op{
    background-color:red;
}
.operators button{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    height: 75px;
    width: 75px;
    margin: 2px;
    background-color: orange;
    border: 2px solid black;
    border-radius: 10px;
    font-family: 'Orbitron';
    font-size: 2.5em;
}
.operators .Equal{
    flex-grow: 4;
}
button:hover{
    background-color: white;
}
button:active{
    height: 50px;
    width: 50px;
}